@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/Models/Product.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/ProductView.js")" type="text/javascript"></script>

<h1>Product</h1>
<div id="product-detail"></div>

<script id="product-detail-template" type="text/x-jquery-tmpl">
    <div>
        <span>Product ID</span>
        <input id="ProductId" type="text" disabled="disabled"></input>
    </div>
    <div>
        <span>Product Name</span>
        <input id="ProductName" type="text"></input>
    </div>
    <div>
        <span>Product Description</span>
        <input id="ProductDescription" type="text"></input>
    </div>
    <div>
        <span>Price</span>
        <input id="Price" type="text"></input>
    </div>
    <div>
        <button id="save">Save</button>
        <button id="new">New</button>
        <button id="delete">Delete</button>
    </div>    
    <div><a href="/"><< Back to List</a></div>
</script>

<script type="text/javascript">

    var product = new Product({ ProductId: '@ViewContext.RouteData.Values["id"]' });
    product.fetch({ success: function (model) {
            var productView = new ProductView({
                model: model,
                el: $('#product-detail')
            });

            productView.render();
        }
    });

</script>




